/* reset css  */
*,
::before,
::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("../img/wallpaper.jpg");
}
.title2 {
    margin: 15px 0;
    font-size: 2em;
    text-align: center;
}
input {
    text-align: center;
    margin-bottom: 10px;
    width: 300px;
    height: 35px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: black;
    margin: 0;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
}
li {
    list-style-type: none;
}
.helptext {
    font-size: 15px;
}
label {
    margin-bottom: 10px;
}
/* ---------------------------------- CSS BASE.HTML ---------------------------------- */
.content_logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.main_title {
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
}
.liner {
    width: 100%;
    height: 3px;
    background-color: #708090;
}
.content_links {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn_link {
    margin-left: 40px;
    margin-right: 25px;
    font-size: 1.2em;
}
.btn_link:hover {
    font-weight: bold;
    font-size: 1.3em;
}
/* ---------------------------------- CSS LOGIN.HTML ---------------------------------- */
.content_login {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_btn {
    height:40px;
    display: flex;
    justify-content: flex-end;
}
.btn_valid {
    display: block;
    width: 120px;
    border: 1px black solid;
    border-radius: 10px;
    font-weight: bold;
}
.content_signup {
    text-align: center;
    margin-top: 15px;
}
/* ---------------------------------- CSS SIGNUP.HTML ---------------------------------- */
.content_inscription {
    display: flex;
    justify-content: center;
    text-align: center;
}
form {
    max-width: 600px;
}
.link_signup {
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
}
/* ---------------------------------- CSS FLUX.HTML ---------------------------------- */
.content_main_navigation {
    margin-top: 50px;
    height: 70px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.btn_req {
    width: auto;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.btn_req:hover {
    font-weight : bold;
    font-size: 1.1em;
}
/* ---------------------------------- CSS REVIEW / TICKET.HTML ---------------------------------- */

.btn_back {
    display: block;
    text-align: center;
    margin: 10px 0 0 20px;
    padding-top: 15px;
    width:300px;
    height: 50px;
    border: 1px solid #708090;
    border-radius: 5px;
    font-size: 1.2em;
}
.btn_back:hover {
    font-weight: bold;
}
.content_form {
    display:flex;
    justify-content: center;
    text-align: center;
}