{% extends 'base.html' %}

{% block content %}
<a class="btn_back" href="{% url 'flux' %}">Retour à l'accueil</a>
    <div class="content_form">
        <form method="post">
            {% csrf_token %}
            <p class="text_delete">
                Supprimer ce ticket ?
                {{ object.title }}
            </p>
        </form>
            <div class="content_btn">
                <a href="{% url 'flux' %}">Annuler</a>
                <button type="submit">Confirmer</button>
            </div>
    </div>

{% endblock %}